Repository MAIF/daikoku, pull requests merged in 2019-12, with the labels that each got.

#24 Ux
  daikoku/javascript/src/apps/DaikokuApp.js
  daikoku/javascript/src/apps/DaikokuHomeApp.js
  daikoku/javascript/src/components/frontend/modals/AssetsChooserModal.js
  daikoku/javascript/src/locales/en/translation.json
  daikoku/javascript/src/locales/fr/translation.json
  daikoku/javascript/src/style/components/backOffice.scss
Labels: ux

#27 FIX #11 - user are able to update assets
  daikoku/app/controllers/AssetsController.scala
  daikoku/app/utils/s3.scala
  daikoku/conf/routes
  daikoku/javascript/src/components/backoffice/assets/AssetsList.js
  daikoku/javascript/src/components/frontend/modals/AssetsChooserModal.js
  daikoku/javascript/src/components/frontend/modals/ModalRoot.js
  daikoku/javascript/src/components/frontend/modals/index.js
  daikoku/javascript/src/components/frontend/modals/wyswygModal.js
  daikoku/javascript/src/components/inputs/SingleMarkdownInput.js
  daikoku/javascript/src/services/index.js
  daikoku/javascript/yarn.lock
Labels: front-office, server-side, team-back-office

#32 quelques évolutions graphiques
  daikoku/app/views/error.scala.html
  daikoku/javascript/src/components/backoffice/apis/TeamApiDocumentation.js
  daikoku/javascript/src/components/backoffice/apis/TeamApiPricing.js
  daikoku/javascript/src/components/frontend/api/ApiCard.js
  daikoku/javascript/src/locales/fr/translation.json
Labels: front-office, translation, ux
